.newTaskContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  padding: 1rem;

  transform: translateY(-50%);
}

.newTaskContainer > input,
.newTaskContainer > button[type="submit"] {
  font-size: 1rem;
  padding: 1rem;

  border-radius: 8px;

  color: var(--gray-100);
}

.newTaskContainer > input {
  width: 100%;
  max-width: 638px;

  border: 2px solid transparent;
  background-color: var(--gray-500);
}

.newTaskContainer > input:focus {
  outline: none !important;
  border: 2px solid var(--purple-dark);
}

.newTaskContainer > button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  border: 0;
  background-color: var(--blue-dark);

  transition: 0.5s background-color;
}

.newTaskContainer > button[type="submit"]:hover {
  background-color: var(--blue);
}
